<div class="formItem">
    <label for="typeDropdown">Type:</label>
    <select id="typeDropdown">
        <option>Note</option>
        <option>Question</option>
        <option>Section Header</option>
    </select>
    <div id="questionTest"></div>
</div>
